
@font-face {
  font-family: 'lemon_milkbold';
  src: url('fonts/lemonmilk-bold-webfont.woff2') format('woff2'),
       url('fonts/lemonmilk-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lemon_milkbold_italic';
  src: url('fonts/lemonmilk-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/lemonmilk-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lemon_milklight';
  src: url('fonts/lemonmilk-light-webfont.woff2') format('woff2'),
       url('fonts/lemonmilk-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lemon_milklight_italic';
  src: url('fonts/lemonmilk-lightitalic-webfont.woff2') format('woff2'),
       url('fonts/lemonmilk-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lemon_milkmedium';
  src: url('fonts/lemonmilk-medium-webfont.woff2') format('woff2'),
       url('fonts/lemonmilk-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lemon_milkmedium_italic';
  src: url('fonts/lemonmilk-mediumitalic-webfont.woff2') format('woff2'),
       url('fonts/lemonmilk-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lemon_milkregular';
  src: url('fonts/lemonmilk-regular-webfont.woff2') format('woff2'),
       url('fonts/lemonmilk-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lemon_milkregular_italic';
  src: url('fonts/lemonmilk-regularitalic-webfont.woff2') format('woff2'),
       url('fonts/lemonmilk-regularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  max-height: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* HEADER CSS */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.headerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.headerTitleBox {
  display: flex;
  align-items: center;
  width: 100%;
}

.headerButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: right;
  padding: 10px;
  padding-right: 0;
}

.headerButton {
  margin: 5px;
  margin-right: 0;
  white-space: nowrap;
  cursor: pointer;
}

.exportButton {
  margin: 5px;
  margin-right: 0;
  white-space: nowrap;
  cursor: pointer;
}

.importButton {
  margin: 5px;
  margin-right: 0;
  white-space: nowrap;
  cursor: pointer;
}

#importKanban {
  display: none;
}

.controlButton {
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.kanbanTitle {
  cursor: pointer;
}

/* MAIN CSS */

.content {
  min-height: calc(100% - 100px); /* Offset 100% by 100px from title bar */
}

.columnSpace {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  min-height: calc(100% - 40px); /* Offset 100% by 20px from padding */
  overflow-x: auto;
  padding: 20px;
}

.column {
  min-width: 384px;
  max-width: 384px;
  margin: 10px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #FF8370;
  /* border: 1px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.columnBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.columnTitleBox {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.columnTitle {
  /* font-family: 'lemon_milklight'; */
}

.columnButtonBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  padding: 10px;
  padding-right: 0;
}

.columnButton {
  margin: 5px;
  margin-right: 0;
  white-space: nowrap;
  cursor: pointer;
}

.taskSpace {
  max-height: calc(90vh - 200px);
  overflow-y: auto;
  padding-top: 5px;
}

.taskBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
}

.taskTitleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  cursor: pointer;
  padding-left: 5px;
}

.taskTitle {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
}

.taskDescription {
  margin-top: 0px;
  margin-bottom: 5px;
}

.taskButtonBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  padding: 10px;
  padding-right: 0;
}

.taskButton {
  white-space: nowrap;
  background: none;
  border: none;
  cursor: pointer;
}

.editorOverlay {
  position: absolute;
}

#inputModal, #outputModal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

/* FOOTER CSS */


